.parallax {
    width: 100%;

    height: 100%;

};

.section{
    padding-bottom: 0;
  }

.row {
    padding-bottom: 0;
    margin-bottom: 0;
}

html {
    background-image: url(../../images/whiteBackgroundEngage.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: 100%;
  }