#form {
  font-weight: 300;
  background: rgba(96, 125, 139, .4);
  padding: 40px;
  border-radius: 10px;
}

.parallax {
  width: 100%;
};

.container  {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.container .row {
  margin: 0 auto;
}

.section{
  padding-bottom: 0;
}

.row {
  padding-bottom: 0;
  margin-bottom: 0;
}

html {
background-image: url(../../images/whiteBackgroundEngage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}