#form {
    font-weight: 300;
    background: rgba(96, 125, 139, .4);
    padding: 40px;
    border-radius: 10px;
}

.parallax {
    width: 100%;
};

.logosize{

}

.container  {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .container .row {
    margin: 0 auto;
  }

