.navbar {
    background-color: rgb(8, 6, 112);
    
}

.section{
    padding-top: 0;

}

.spacer {
    height:75px;
}

a.brand-logo {
    padding-left: 15px;
}
.avg-emoji {
	font-size: 27px;
}

.center-btn {
	margin-left: 35%;
	margin-top: 2%;
}
